build*
!scripts/build-petalinux-jndm123.sh

.vs/
.vscode/
.idea/

*.log
*.tmp
*.cache
*.user
*.suo
*.VC.db
*.VC.opendb

CMakeUserPresets.json

webUI/*/ui/node_modules/
webUI/*/ui/dist/
webUI/*/*/ui/node_modules/
webUI/*/*/ui/dist/
*.bak-

Thumbs.db
.DS_Store
.codex
doc/*
